<?xml version="1.0" encoding="UTF-8"?><config><CONFIG><appTitle>Maarch Courrier</appTitle><lang>fr</lang><maarchUrl>http://localhost:8081/</maarchUrl></CONFIG><BDD><databases><maarch><driver>pgsql</driver><server>maarch-postgres</server><port>5432</port><user>maarch</user><password>maarch</password><databasetype>postgresql</databasetype><dbname>maarch</dbname></maarch></databases></BDD></config>
